@keyframes pulse-background {
  0% {
    background-color: #ffffff;
  }
  33% {
    background-color: turquoise;
  }
  66% {
    background-color: #f063b8;
  }
  100% {
    background-color: #ffffff;
  }
}

@keyframes stretch {
  0% {
    transform: scale(0.3);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(1.5);
    background-color: yellow;
  }
}

@keyframes nudge {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(50px, 0);
  }

  80% {
    transform: translate(-50px, 0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(1800deg);
  }

  80% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
