.container_description {
  margin: 100px 243px auto 277px;
  max-width: 1180px;
  height: 560px;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  display: flex;
}

.description_image {
  width: 477px;
  height: 504px;
}

.description_title {
  justify-self: flex-end;
  margin-left: 62px;
  margin-right: 62px;
  margin-top: 125px;
  width: 475px;
  height: 100px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 130%;
  color: #212353;
}
.description_image:hover {
  animation: rotate 60s infinite;
}

.description_text {
  margin-left: 62px;
  margin-right: 62px;
  margin-top: 40px;
  width: 474px;
  height: 170px;
  left: 790px;
  top: 1168.18px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 160%;
  color: #4b5d68;
}

@media screen and (max-width: 1500px) {
  .description_image {
    width: 357px;
    height: 504px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .description_title {
    width: 475px;
    height: 100px;
    font-size: 2.5rem;
  }

  .description_text {
    width: 475px;
    height: 170px;
    font-size: 1.125rem;
  }
  .container_description {
    margin: 100px auto auto 20px;
    max-width: 1180px;
    height: 560px;
  }
}

@media screen and (max-width: 950px) {
  .description_image {
    width: 287px;
    height: 504px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .description_title {
    margin-left: 10px;
    margin-top: 150px;
    width: 280px;
    height: 100px;
    font-size: 1.8rem;
  }

  .description_text {
    margin-left: 10px;
    margin-top: -20px;
    width: 280px;
    height: 170px;
    font-size: 0.9rem;
  }
  .container_description {
    margin: 75px auto auto 10px;
    max-width: 900px;
    height: 560px;
  }
}
@media screen and (max-width: 600px) {
  .description_image {
    width: 150px;
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .description_title {
    margin-left: 15px;
    margin-top: 40px;
    width: 120px;
    height: 100px;
    font-size: 1rem;
  }

  .description_text {
    margin-left: 15px;
    margin-top: -30px;
    width: 120px;
    height: 170px;
    font-size: 0.5rem;
  }
  .container_description {
    margin: 25px 5px auto 5px;
    max-width: 600px;
    height: 300px;
  }
}
