.popup {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: none;
  background-color: var(--popup-background-color);
  opacity: 85%;
  color: var(--main-nav-bg-color);
}

.popup-content {
  width: fit-content;
  margin: 2px auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.close-popup {
  right: 0;
  cursor: pointer;
}
